bootRE/boot.elf
modem.img
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
recovery.img
boot.img
product/data-app/MiShop/MiShop.apk
product/data-app/SmartHome/SmartHome.apk
product/data-app/MIMediaEditor/MIMediaEditor.apk
product/data-app/MIUIYoupin/MIUIYoupin.apk
product/data-app/Health/Health.apk
product/data-app/MIUIMusicT/MIUIMusicT.apk
product/priv-app/MiuiExtraPhoto/MiuiExtraPhoto.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/app/MiGameService_8450/MiGameService_8450.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
