recovery.img
bootRE/boot.elf
boot.img
vendor/lib64/libQnnGpu.so
modem.img
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
product/app/MiGameService_8450/MiGameService_8450.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/HybridPlatform/HybridPlatform.apk
product/app/OtaProvision/OtaProvision.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MiuiExtraPhoto/MiuiExtraPhoto.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/data-app/Health/Health.apk
product/data-app/MIMediaEditor/MIMediaEditor.apk
product/data-app/Gallery_T_CN/Gallery_T_CN.apk
product/data-app/MiShop/MiShop.apk
product/data-app/MIUIMusicT/MIUIMusicT.apk
product/data-app/MIUIYoupin/MIUIYoupin.apk
product/data-app/SmartHome/SmartHome.apk
